<div class = "home">
  <h1 class = "home">Attendance Check</h1>
  <p>
    Attendance Check is a platform, which helps you reliably control the
    presence and attendance of your workers when they are most needed.
  </p>
</div>