<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  	<%= stylesheet_link_tag 'company_notifier/report_email.css' %>
  </head>
  <body>
    <div class ="email_content">
      <div id="email-header">
        <h3><%= t 'report.introduction', company_name: @company.name %></h3>
        <h4><%= t 'report.sub_introduction' %></h4>
      </div>

      <hr />

      <div id="shift-reports-div">
        <%= render @shift_reports %>
      </div>
      
      <hr />
    </div>
  </body>
</html>
