<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <div class ="email_content">
      <h1>Hello, <%= @company.name %>. This is your report for today. </h1>
      The workers who showed up today to work are:

      <div class="workers">
        <% @shift_reports.each do |report| %>
          <div class="site_workers">
            <% unless report.shift.workers.empty? %>
              <%= report.shift.site.name %>: 
              <% report.shift.workers.each do |worker| %>
                <%= worker.name %>,
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>

      <br>
      The last completed shifts for all of your sites are included below: 
      <br>

      <div class="report">
        <%= render @shift_reports %>
      </div>
    </div>
  </body>
</html>