<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello, <%= @company.name %> </h1> 
    <div class ="email_content">
        <p class ="email_content">
          <font size ="4">here is the report for your workers:
          <%= render 'worker/worker' %>
          </font>
        </p>
    </div>
  </body>
</html>