<!DOCTYPE html>
<html>
	<head>
		<title>Settings</title>
	</head>
	<body>
		<p> Here you are able to change the durations of the calls and other things </p>
		<span> Do you want something? </span>
		<input type="radio">
			<div> <span> Yes </span> </div>
			<div> <span> No </span></div>
		</input>
  	</body>
</html>