<div class="email_content">
	<% @company.workers.each do |worker| %>
		<li>
			<%= worker.name %>
			<!-- Have to put 24h limit -->
			<% worker.calls.each do |call| %>
			<p> Answered calls </p>
              <% if call.answered? %>
                <%= call.received_at.localtime %>
              <% end %>

            <p> Unanswered calls </p>
              <% if !call.answered? %>
                <%= call.received_at.localtime %>
              <% end %>
			<% end %>
		</li>
	<% end %>
</div>