<div class="email_content">
	<% @company.workers.each do |worker| %>
		<li>
			<%= worker.name %>
			<!-- Have to put 24h limit -->
			<% worker.calls.each do |call| %>
				<p>
					The following calls have been made today: <%= call %>
				</p>

				<p> 
					Answered calls : 
					<% if call.answered? %>
						<%= call %>
					<% end %>
				</p>

				<p> 
					Unanswered calls :
	            	<% if call.unanswered? %>
	              		<%= call %>
	            	<% end %>
	            </p>
			<% end %>
		</li>
	<% end %>
</div>