<div class="worker">
	<p><%= @company.company_name %> </p>
  <p><%= @worker.name %></p>
  <p>Calls</p>
</div>
<div class="wtable">
	<table>
		<tr>
        <th>Sent at</th>
        <th>Received at</th>
  		</tr>
      <% @calls.each do |call| %>
        <tr>
          <td><%= call.created_at %></td>
          <td><%= call.received_at %></td>
        </tr>
      <% end %>
	</table>
</div>