<h1>List of your workers</h1>

<ul class="workers">
  <% @worker.each do |worker| %>
    <li>
      <%= worker.first_name %>
      <%= worker.last_name %>
    </li>
  <% end %>
</ul>

<div class = "button">
	<%= link_to('Add new worker', workers_new_path, 'data-popup' => true ) %>
</div>