<div class="email-panel">
  <div class="email-panel-header">
	Report for  
	<%= shift_report.shift.site.name %>
	for
    <%= shift_report.shift.start.to_date %>
  </div>
  <div class="workers">
    <%= render shift_report.worker_reports %>
  </div>
</div>

