<div class="worker-panel">
	<div class="worker-panel-header">
      <%= worker_report.worker.name %>
    </div>
  <ul class="worker-messages">
    <% worker_report.messages.each do |message| %>
      <li class="worker-message"><%= message %></li>
    <% end %>
  </ul>
</div>

