<button class="accordion"><%= worker_report.worker.name %></button>
<div class="panel">
  <ul>
    <% worker_report.messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
</div>


