<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Settings</title>
    </head>
	<body>
		<div class="daily_mail">
			<span> Do you want daily report sent to your email? </span>
			<%= form_tag do %>
				<div class="radio_buttons">
					<input type="radio" name="daily_mail" value="True"/>Yes, I would like yo get daily report for my workers <br>
					<input type="radio" name="daily_mail" value="False"/>No, I dont want it <br>
					<button type="Submit"> Save changes </button>
				</div>
			<% end %>
							<%= @daily_mail %>
		</div>

		<div class ="shift_start_end">
			<form>
				<div>
					<span>Enter the start of the shift!</span>
					<span>(format is HH/MM/</span>
			        <div class="input-group bootstrap-timepicker timepicker">
			            <input id="timepicker1" type="text" class="form-control input-small">
			            <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
			        </div>
					<span>Enter the end of the shift!</span>
			        <div class="input-group bootstrap-timepicker timepicker">
			            <input id="timepicker2" type="text" class="form-control input-small">
			            <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
			        </div>
					<script type="text/javascript">
            			$('#timepicker1').timepicker();
        			</script>

        			<script type="text/javascript">
            			$('#timepicker2').timepicker();
        			</script>
					<button type="Submit"> Save changes </button>
				</div>
			</form>
		</div>

		<div class ="change_password">
			<%= link_to "Want to change your password?", edit_company_registration_path %>
		</div>
  	</body>
</html>