<!DOCTYPE html>
<html>
	<head>
		<title>Settings</title>
	</head>
	<body>
		<div class="DailyMail">
			<p> Do you want daily report sent to your email? </p>
			<form>
				<input type="radio" name="button_output" value="Yes">Yes, I would like yo get daily report for my workers
				<input type="radio" name="button_output" value="No">No, I dont want it
				<br>
				<button type="Submit"> Save changes </button>
			</form>
							<%= @daily_mail %>
		</div>

		<div>
		</div>

		<div class ="ChangePassword">
			<%= link_to "Change your password", edit_company_registration_path %>
		</div>
  	</body>
</html>