<!DOCTYPE html>
<html>
	<head>
		<title>Settings</title>
	</head>
	<body>
		<div class="daily_mail">
			<span> Do you want daily report sent to your email? </span>
			<form>
				<div class="radio_buttons">
					<input type="radio" name="daily_mail" value="True"/>Yes, I would like yo get daily report for my workers <br>
					<input type="radio" name="daily_mail" value="False"/>No, I dont want it <br>
					<button type="Submit"> Save changes </button>
				</div>
			</form>
							<%= @daily_mail %>
		</div>

		<div class ="shift_start_end">
			<form>
				<div>
					<span>Enter the start of the shift!</span>
					<input type="time" name="shift_start" />
					<span>Enter the end of the shift!</span>
					<input type="time" name="shift_end" />
					<button type="Submit"> Save changes </button>
				</div>
  				<div class="input-group bootstrap-timepicker timepicker"><input id="timepicker" class="form-control" data-provide="timepicker" data-template="modal" data-minute-step="1" data-modal-backdrop="true" type="text"/></div>

			  <div class="input-group bootstrap-timepicker timepicker"><input id="timepicker" class="form-control" data-template="modal" data-minute-step="1" data-modal-backdrop="true" type="text"/></div>
			</form>
		</div>

		<div class ="change_password">
			<%= link_to "Want to change your password?", edit_company_registration_path %>
		</div>
  	</body>
</html>