<% provide(:title, 'Workers') %>

<h2>Your workers</h2>

<br />

<%= link_to 'Create worker', new_worker_path, class:'btn btn-primary pull-left' %>

<div class="clearfix"></div>

<br />

<h3>See your workers activity</h3>

<div class="col-md-6">
  <table class="table table-hover">
    <thead>
      <tr>  
        <th>Worker</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <% @workers.each do |worker| %>
        <tr>
          <td>
            <%=link_to worker.name, worker, class:"btn btn-default" %>
          </td>
          
          <td>
            <%= button_to edit_worker_path(worker), method: :get, class: 'btn btn-default' do %>
              <span class="glyphicon glyphicon-pencil"></span>
            <% end %>
          </td>
          <td>
            <%= button_to worker, method: :delete, data: { confirm: "You sure?" }, class: 'worker-delete btn btn-danger' do %>
              <span class="glyphicon glyphicon-trash"></span>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>