<h1>List of your sites</h1>
<ul class="sites">
  <% @site.each do |site| %>
    <li>
      <div class="workersInfo">
        <%= site.name %>
      </div>
    </li>
  <% end %>
</ul>

<div class="create_site">
	<%= link_to "Create new site here", new_site_path %>
</div>