<% provide(:title, 'Sites') %>

<h1>List of your sites</h1>
<ul class="sites">
  <% @site.each do |site| %>
    <li>
      <div class="workersInfo">
		<%=link_to site_path(site) do %>
        	<%= site.name %>
        <% end %>
        <span>|</span> <%= link_to "delete", site, method: :delete,
                                      data: { confirm: "You sure?" } %>
      </div>
    </li>
  <% end %>
</ul>

<div class = "button">
  <%= link_to '<button type="button">Add new site</button>'.html_safe, new_site_path %>
</div>