<div class="company_name">
	<span><%= @company.company_name %></span>
</div>

<div class="site_name">
	<span><%= @site.name %></span>
</div>

<div class = "button">
	<%= link_to '<button type="button">Add new route</button>'.html_safe, new_site_route_path(@site, @route) %>
</div>

<%= link_to "see all routes", site_route_index_path(@site, @route)%>