hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

#email-header {
	text-align: center;
}

.email-panel {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    border-color: #999;
}

.email-panel-header {
	padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
	font-size: 1.2em;
	text-align: center;
}

.worker-panel {
	margin: 20px 15px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    border-color: #999;
	display: inline-block;
}

.worker-panel-header {
	padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
	font-size: 1.2em;
}

.worker-messages {
    list-style-type: none;
	padding: 0px;
	overflow: hidden;
}

.worker-message {
	border-color: #f44336;
	border: 1px solid;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 30px;
	padding: 5px 8px;
	float: left;
	clear: left;
	display: inline-block;
	border-radius: 3px;
}

#no-messages {
	text-align: center;
}

