@import "bootstrap-sprockets";
@import "bootstrap";

/*Toni's css*/
hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}
.page-header {
  text-align: center;
}


#main {
  overflow:auto;
  padding-bottom:100px; /* this needs to be bigger than footer height*/
}

.footer {
  position: relative;
  margin-top: -20px; /* negative value of footer height */
  margin-left: auto; 
  margin-right: auto; 
  height: 20px;
  clear:both;
  width:90%;
}

.footer nav {
  background: #fff;
}

.main-nav li {
  font-size: 1.2em;
  font-weight: bold;
}

#logo {
  float: left;
  margin-right: 10px;
  margin-left: 30px;
  font-size: 1.7em;
  color: #fff;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  text-decoration: none;
}

#sites-icon {
  background-image: asset-data-url("building_icon.png");
  display: inline-block;
  height: 20px;
  width: 24px;
}

#sites-nav:hover #sites-icon {
  background-image: asset-data-url("building_icon-selected.png");
}

.alert-notice {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.alert-alert {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}

.home {
  text-align: center;
}

.inline-nav-item {
  display: inline-block !important;
}

#main-nav {
  border-radius: 0px;
}

// FOOTER 

html, body {
  height: 90%;
}

#wrap {
  min-height: 100%;
  /* equal to footer height */
}

#wrap:after {
  content: "";
  display: block;
}
#footer-nav, #wrap:after {
  height: 0px; 
}

#footer-nav {
  margin: 0px;
  padding: 2em;
  background-color: white;
  border: 0px;
}

// END OF FOOTER 

// FLAG 

.flag {
  background-repeat: no-repeat;
  display: inline-block;
  height: 0px;
  overflow: hidden;
  padding-top: 25px;
  width: 25px;
  opacity: 0.4;
}

.flag.active {
	opacity: 1.0;
}

.bg {
  background-image: asset-data-url("bg.png");
}

.en {
  background-image: asset-data-url("en.png");
}

/*end of Toni's css*/


section {
    overflow: auto;
}

textarea {
    resize: vertical;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
  h2 {
	  display: none;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

#password {
    padding: 10px;
    border: 1px solid #000;
    margin: 0 0 10px;
}

div.pass-container {
    height: 30px;
}

div.pass-bar {
    height: 11px;
    margin-top: 2px;
}
div.pass-hint {
    font-family: arial;
    font-size: 11px;
}

/* worker's profile */
.wtable {
    font-size: 100%;
    table {
      width: 100%;
    }

    table, th, td {
        border-bottom: 1px solid #ddd;
    }
    th, td {
        padding: 5px;
        text-align: left;    
    }

    th {
        background-color: #404040;
        color: white;
    }
}

/* calls */
.answered_call_activity {
  background-color: rgba(51, 204, 51, 0.6);
}

.unanswered_call_activity {
  background-color: rgba(255, 0, 0, 0.6);
}

.login_activity {
  background-color: rgba(204, 204, 0, 0.6);
}

.logout_activity {
  background-color: rgba(153, 102, 0, 0.6);
}
