<p>Welcome <%= @company_name %>!</p>

<p> Thank you for your registration in our site ! </p>

<p>To start using your account you have to confirm your account's email through the link below:</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>
