<nav class="navbar navbar-default" id="footer-nav">
  <div class="container-fluid">
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to t('static_pages.contact.title'), contact_path %></li>
    </ul>
  </div>
</nav>
